@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --highlight-color: #8878c3;
    --bg-dark-color: #222222;
    --border-color: #333333;
    --dark-border-color: #555555;
}

::backdrop {
    background: #242424;
    opacity: 0.25;
}

@layer components {
    .card-border {
        @apply border border-gray-100 hover:border-gray-200 dark:border-(--border-color) hover:dark:border-[#555555] bg-white dark:bg-[#202020] transition-[border-color] duration-200 ease-out rounded-2xl p-4
    }

    .tech-stack {
        @apply dark:bg-(--bg-dark-color) px-2 py-1 text-xs rounded-lg hover:-translate-y-0.5 transition-transform duration-200 ease-in-out border border-gray-200 dark:border-(--dark-border-color) dark:text-white
    }

    .tech-used {
        @apply text-[10px] font-semibold dark:text-white bg-gray-200 dark:bg-gray-700 py-0.5 px-1 rounded-sm
    }

    .carousel {
        @apply max-h-full w-full shrink-0 py-0 px-1
    }

    .indicator.active {
        @apply bg-(--bg-dark-color) dark:bg-white
    }
}

/* no tailwind for this */
#wrapper {
    scrollbar-width: none;
}

.carousel {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.indicator {
    cursor: pointer;
    transition: all 0.3s;
}
